.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
}

.header-container .nav-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header-container .link {
    text-decoration: none;
    color: whitesmoke;
}